.line {
    width: 100%;
    height: fit-content;
    margin: 1rem 0rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Header {
    font-size: 4rem;
    font-style: 'Poppins';
    margin: 2rem 0rem;
    text-align: center;
    color: aquamarine;
}

.part {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.QandA {
    background-color: #262626;
    margin-bottom: 5px;
    padding: 10px 15px;
    margin-left: 2rem;
}

.ques {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
}

.plus {
    background-color: #262626;
    color: #fff;
}

.Q {
    font-size: 1.5rem;
    font-style: 'Roboto';
    color: #fff;
    background-color: #262626;
}

.ans {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    background-color: #262626;
}

ans.show {
    height: auto;
    max-height: 999px;
    background-color: #262626;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.A {
    font-size: 1.3rem;
    font-style: 'Montserrat';
    background-color: #262626;
    text-align: justify;
    color: #fff;
}

.line1 {
    display: flex;
    justify-content: center;
    /* Horizontally center the image */
    align-items: center;
    padding-bottom: 30px;
    /* Adjust the height as needed */
}

.line1 img {
    min-height: 256px;
    max-width: 100%;
    /* Adjust the max-width as needed */
    max-height: 100%;
    /* Adjust the max-height as needed */
    image-orientation: center;
}